body{
    background-color:black;
    color:aliceblue

}
form {
    background-color: black;
}
h1 {
    font-family: 'Rubik Glitch', cursive;
    text-align: center;
    font-size: 200px;
}
h2{
    font-family: 'Rubik Glitch', cursive;
}
h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

table ,tr, td{
    background-color: gainsboro;
    border: 2px solid aliceblue;
    border-collapse: collapse;
    padding: 3px;
    color: black;

    } 
th {
    color: black;
    font-size: large;
}
